{% extends "calci/base.html" %}
{% block content %}
<p class="d-flex justify-content-center display-1">🎮 THE DARK ROOMS 🎮</p>
<hr>
<br>
<p class="d-flex justify-content-center fw-bold h1">Welcome to THE DARK ROOMS!</p>
<br>
<br>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">We are excited to have you here, and we appreciate your interest in our app.</p>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">Please login to continue exploring the exciting features and functionalities we have to offer.</p>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">In THE DARK ROOMS, you will find a collection of thrilling games and challenges that will test your skills and keep you entertained for hours.</p>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">Whether you are a casual gamer or a hardcore enthusiast, our app has something for everyone.</p>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">Join our community of gamers and compete with players from around the world to climb the leaderboards and earn bragging rights.</p>
<p class="d-flex justify-content-center fw-bold h5 opacity-50">Don't miss out on the fun! Sign up now and embark on an unforgettable gaming experience in THE DARK ROOMS.</p>
{% endblock content %}