{% extends "calci/base.html" %}
{% block content %}
<h1>WELCOME TO {{room.name}}</h1>
<p>   code :  {{room.slug}}</p>
<div class="d-flex justify-content-between">
    
{% endblock content %}

{% block script %}

{{room.slug|json_script:"json-roomname"}}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomnme').textContent)
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        // const data = JSON.parse(e.data);
        // console.log(data);
        console.log('onmessage');
    };

    chatSocket.onclose = function(e) {
        console.log('Chat socket closed ');
    };

</script>
{%endblock%}